<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    const app = Vue.createApp({
      setup() {
        const { ref, reactive, watch, toRefs } = Vue;

        // const name = ref('');
        // // 首次不执行
        // watch(name, (current, prev) => {
        //   console.log(current, prev);
        // });

        const obj = reactive({ name: '', name1: '' });
        // watch(
        //   () => obj.name,
        //   (current, prev) => {
        //     console.log(current, prev);
        //   }
        // );

        const { name, name1 } = toRefs(obj);
        // 可以监听多个
        watch([name, name1], (currentArr, prevArr) => {
          console.log(currentArr, prevArr);
        });

        return { name, name1 };
      },
      template: `
        <div >
            <input v-model="name"/>
            {{name}}
            <input v-model="name1"/>
            {{name1}}
        </div>
      `,
    });

    const vm = app.mount('#root');
  </script>
</html>
